<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!-- 1. 싱글턴으로 만들 빈을 스캔할 곳 설정 -->
<context:component-scan base-package="co.kr.khaki.member, co.kr.khaki.notice, co.kr.khaki.carmanage, co.kr.khaki.handler, co.kr.khaki.pay, co.kr.khaki.car, co.kr.khaki.map"/>

<!-- 4. mybatis 생성 -->
<!-- 핵심적인 역할을 하며 SQL실행이나 트랜잭션 관리를 실행 -->
<bean id="mybatis" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="myConfig"></constructor-arg>
</bean>

<!-- 3. mybatis 설정 -->
<!-- mybatis 설정파일을 바탕으로 SqlSessionFactory(myConfig)를 생성 -->
<bean id="myConfig" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	<property name="dataSource" ref="dbcp"></property>
</bean>

<!-- 2. dbcp 설정 -->
<context:property-placeholder location="classpath:config/db.properties"/>
<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="${jdbc.driver}"></property>
	<property name="url" value="${jdbc.url}"></property>
	<property name="username" value="${jdbc.username}"></property>
	<property name="password" value="${jdbc.password}"></property>
</bean>

</beans>
