<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hDAO">

	<select id="select" parameterType="hDTO" resultMap="rsMap">
		SELECT *
		FROM handler
		WHERE startLocation LIKE #{startLocation}||'%'
	</select>
	
	<select id="select2" parameterType="hDTO" resultMap="rsMap">
		SELECT *
		FROM handler
		WHERE returnLocation LIKE #{returnLocation}||'%'
	</select>

	<resultMap type="hDTO" id="rsMap">
		<result property="carNum" column="carNum" />
		<result property="vehicleType" column="vehicleType" />
		<result property="startLocation" column="startLocation" />
		<result property="returnLocation" column="returnLocation" />
		<result property="handler" column="handler" />
		<result property="point" column="point" />
		<result property="customerUsageTime" column="customerUsageTime" />
	</resultMap>

	<select id="selectAll" resultMap="rsMap">
		SELECT * FROM handler
	</select>

</mapper>

